html, body{
    cursor:none;
}

/* mobilon kikapcsol */
@media (pointer: coarse){
    html, body{
        cursor:auto;
    }

    .cursor-dot,
    .sparkle{
        display:none !important;
    }
}

/* központi lila pont */
.cursor-dot{
    position:fixed;
    width:10px;
    height:10px;
    border-radius:50%;

    background: radial-gradient(circle,
        #d18cff 0%,
        #8a2be2 50%,
        transparent 80%
    );

    box-shadow:
        0 0 10px #b56bff,
        0 0 25px #8a2be2;

    pointer-events:none;
    z-index:999999;
    transform:translate(-50%,-50%);
}

/* csillag szikrák */
.sparkle{
    position:fixed;
    width:10px;
    height:10px;

    pointer-events:none;
    z-index:999998;

    background: radial-gradient(circle,
        rgba(255,255,255,0.9) 0%,
        rgba(180,120,255,0.6) 40%,
        transparent 70%
    );

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );

    filter: blur(0.3px);
    opacity:0.8;
}
